/* src/App.css */
h2 {
  color: #333;
}

h3 {
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
